h1 {
  font-family: "Micro 5", sans-serif;
  font-size: 64px;
  font-style: normal;
  color: white;
}


h2 {
  font-family: "Micro 5", sans-serif;
  font-size: 32px;
  font-style: bold;
}

h3 {
  font-family: "Kode Mono", sans-serif;
  font-size: 20px;
  font-style: bold;
}

p {
  font-family: "Kode Mono", sans-serif;
  font-size: 12px;
  font-style: normal;
}

ol {
  font-family: "Kode Mono", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  height: auto;
}

.footerParagraph{
    text-align:center;
}

.footerParDiv {
  background-image: linear-gradient(#FF9933, #0ABCE0 75%);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerImgDiv {
  background-image: linear-gradient(rgb(255 0 72) 70%, #FFCC33 75%, #FF9933 90%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width:100%
}

.footerDolphin {
  width: 100px;
  margin-left: 15px
}

.footerFakeDolphin {
  width: 100px;
}

.footerSunset {
  width: 75px;
  height: 75px;
}

.menu {
  width: 75%;
  padding: 15px;
  margin: 15px;
  background-color: #FFD9F5;
  border: solid 5px #F624DA;

  p {
    text-decoration: underline;
    color: #AF1A87;
  }

  p:hover {
    color: #FF0048
  }
}

@media only screen and (max-width: 1200px) {
  .scaled-camera {
    transform: scale(90%);
    }

}


@media only screen and (max-width: 1000px) {
  .scaled-camera {
    transform: scale(80%);
    }
}

@media only screen and (max-width: 900px) {
  .scaled-camera {
    transform: scale(75%);
    }
}

@media only screen and (max-width: 873px) {
  .scaled-camera {
    transform: scale(65%);
    margin-left: -30px;
    }
    
}

@media only screen and (max-width: 767px) {
  .scaled-camera {
    transform: scale(100%);    
    }

  
}

@media only screen and (max-width: 484px) {
  .scaled-camera {
    transform: scale(80%);
    }

  
}

@media only screen and (max-width: 484px) {
  .scaled-camera {
    transform: scale(75%);
    margin-left: -30px;
    }
}




.imageGallery {
  z-index: 5;
  position: absolute;
  margin-left: 25px;
  margin-top: 90px;
  width: 280px;
  height: 210px;
}

.camera {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.kodak {
  width:450px;
}

.socialIcons{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btn {
  font-family: 'Kode Mono', sans-serif;
  color: black;
  background-color: #A5E2EE;
  border: 3px solid #0ABCE0;
}

.btn:hover{
  color: white;
  background-color: #0ABCE0;
  border: 3px solid #0ABCE0;
}

.modal-content {
  background-color: #FFD9F5;
  border: solid 5px #F624DA;
}

.modal-header {
  border-bottom: solid 3px #F624DA;
}

.modal-footer {
  border-top: solid 3px #F624DA;
}

.floated {
  max-height: 200px;
  min-height: 100px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.blogContainer {
    background-color: #A5E2EE;
    border: solid 5px #0ABCE0;
    width: 75%;
    margin-bottom: 15px;
}
