html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-image: linear-gradient(#4B3AD4,#AF1A87 75%, #FF0048 95%);
  /* Full height */
  height: auto; 
  width: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

#root {
  height: 100%;
}